body {
    background-image: url(/Landing-Page/color-scheme-generator/img/background.jpg);
    background-position: center;
    background-size: cover;
}

#container {
    
    width: 500px;
    margin: 0 auto;
}

h1{
    text-align: center;
}
#get-color, #color-mode{
    padding: 0.5em;
    border-radius: 5px;
    margin: 20px 0 0 55px;
    border: none;
    cursor: pointer;
    background: #910763;
    color: rgb(221, 211, 211);
    font-size: 16px;
}

#color-schemes {
    display: flex;
    flex-direction: row;
}

/* background to the button - click the code */
.info{
    
    text-align: center;
    font-size: 1.1em;
    padding: 0.8em 0;
    margin-bottom: 2em;
    margin-top: 20px;
}
/* written color code below */
.cod-color{
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    }
/* the color paletes */
.colors {
    width: 100px;
    height: 252px;
    margin: 0;
}
/* click to copy button */
#info-copy {
    background-color: rgb(34, 185, 34);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 15px;
}
#info-copy:hover {
    background-color: #910763;
}
