#container {
    
    width: 500px;
    margin: 0 auto;
}

h1{
    text-align: center;
}
#get-color, #color-mode{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #3a4a5a;
    color: white;
}

#color-schemes {
    border: red solid ;
    display: flex;
    flex-direction: row;
}

.info{
    background: #d3c993;
    text-align: center;
    font-size: 1.1em;
    padding: 0.8em 0;
    margin-bottom: 2em;
    margin-top: 20px;
}
.cod-color{
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
}

.colors {
    width: 40px;
    height: 200px;
    margin: 0;
    border: solid green;
}