  
header {
    display: flex;
    flex: 1;
    background-color: teal;
    flex-direction: row;
    font-size: 18px;
    color:peachpuff;
    font-weight: bolder;

}

img, .images {
    padding: 25px;
    margin: 10px;
    display: flex;
    width: 150px;
    height: 125px;
    display: initial; 

}

button {
    margin: 10px;
    width: 218px;
    height: 45px;
    margin-top: 280px;
    margin-right: 31px;
    background-color:brown;
    color: white;
}

.links {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: underline;
    margin-right: 100px;
    margin-top: 85px;
}
.sub {
    text-align: center;
    text-decoration: indigo;
    margin: 10px;
    border: 10px;
    text-emphasis-style: none;
    color: burlywood;
    font-style: oblique;
}

.images {
    display: inline-flex;
    border: initial;
}

.info {
    display: flex;
    flex-direction: initial;
    color: brown;
    font-style: oblique;
    background: bisque;
    padding: 15px;
}
.body {
    color: blue;
    text-align: center;
    font-style: italic;
    margin-top: 250px;
}