html    {
        font-family: ubuntu;
        font-size: 18px;
         }
body    {
        align-content: center;
        background: #F8F8F8;
        margin: 0 6.25em;
        }
.container{
        text-align: center;
        width: 100%;
        margin: 0; 
        }
.footer{
        background-color: #143774;
        color: white;
        font-size: 1.125em;
        text-align: center;
        height: 10.75em;
        padding-top: 3.75em;
        margin: 1.875em 0 0 0;
        width:auto;
        }
/* ----------------------
Header and Main Content
-------------------------- */
.header {
        background:#F8F8F8;
        align-items: center;
        }

.head {
        font-size: 2.25em;
        color:#143774;
        margin: 3.125em 0 0;
        padding: 0;
        }
.blog {
        color: #1792D2;
        letter-spacing:.15em;
        font-size: .75em;
        padding: .125em;
        margin: 0px;
        font-style: bold;
        }
/* ====================
        links
======================= */
.linked{
        display: flex;
        flex-direction: row;
        margin: 1.25em .625em;
        }
.li     {
        margin: 3.75em 1.25em .625em 9.375em;
        padding: 1.25em;
        align-content:center;
        text-decoration: none; 
        color:  #717171;  
        }
.linked li {
        list-style: none;    
        }

 .linked a:hover, a:focus, a:active, a:current {
        color: green;
        text-decoration: underline;
        }

.headings {
        color:#143774;
        font-size:24px;
        }

.wrapper {
        border-top: black solid .1px;
        display: flex;
        align-items: center;
        }
/* ===================================
    Main body
=======================================*/
.main-content {
        margin: .625em 1.25em;
        padding: 0 1.25em;
        width: 390%;
        text-align: left;
        }
.date {
        text-align: left;
        margin: 0;
        color: #707070;
        font-size: .875em;
        }
.main-top {
        color:#707070;
        }

.simple{
        color:#1792D2;
        text-decoration: underline;
        }
.continue {
        color: #1792D2;
        text-transform:uppercase;
        letter-spacing: .125em;
        text-align: left;
        }
img {
        width: 100%;
        margin-top: 1.25em;
        }
.headings {
        margin: .625em;
        text-align: left;
        }
.display-final {
        display: flex;
        }
.solid-border {
        margin: 0 1.25em;
        }
.sub-titles {
        color:#143774;
        font-size:1.33em;
        }
.sub-head {
        color:#143774;
        }
.recent-posts{
        padding: 1.25em .3125em;
        margin: 1.25em 0px;
        color: #143774;
        border: #EBEBEB  solid 1.25em;
        }
.person{
        border:#EBEBEB solid 1.25em;
        color: #143774;
        font-size: 1em;
        padding: .625em .3125em;
        margin-top: 1.25em;
        }

/* =================================
    ABOUT - ME page
====================================*/
body    {
        margin: 0px 6.25em 0;
        }
/* display page with content side by side */
.about-me-display {
        display: flex;
        margin: 0;
        }
.about-recent-posts{
        border: #EBEBEB solid 1.25em;
        margin: 1.25em 0 1.25em 1.875em;
        padding: 1.25em;
        max-width: 15em;
        height:fit-content;
        }
/* display heading and links in same line */
.heading{
        display: flex;
        }
.about-header{
        text-align: center;
        }
.about-me-links  {
        display: flex;
        flex-direction: row;
        margin: 6.25em 0 3.125em 6.125em;
        padding: 0 0 0 12.5em;
        }
.about-me-links li {
        list-style: none;
        font-size: 1em;
        padding-top: 2.5em;
        align-self: right;
        margin: 0px 0px 0px 2.625em;   
        }
.about-me-links a {
        text-decoration:none;
        margin: 0;
        padding: 0;   
        }
.about-me-links a:hover, a:focus, a:active, a:current {
        color: blueviolet;
        text-decoration: underline;
        }
/* ================================
      The Main text in About-me 
=================================== */
.about-me {
        max-width: fit-content;
        margin: 0;
        padding: 0;
        text-align: left;
        }
.name {
        color: #143774;
        }
.turn-point {
        color: #1792D2;
        }

/* =================================
    RECENT-POSTS Page
==================================== */
.recent-main{
        display: flex;
        }
.recent-img-top{
        width: 20%;
        height: fit-content;
        }
.recent-img{
        width: 100%;
        height: fit-content;
        }
.display-top {
        display: flex; 
        flex-direction: column;
        margin: 0 1.875em;
        padding: 0;
        text-align: left;
        }
/*===================================
    media queries - mobile view
 ====================================*/
@media (max-width:550px) {
  
    .linked {
        display:flex;
        flex-direction: column;
        padding: 1.666em;
        margin: 0px;
    }
    .li a{
        margin: 0px;
        padding: 0px;
     
     /* to adjust the spacing in links */
    }
    img{
        max-width: 95%;
        margin: .625em .3125em 0 .3125em;
        padding: 0;

    }
    body {
        max-width:500px;
    }
    .container {
        align-content: center;
        

    }
    .main-content{
        margin:0 10px;
        padding: 0 10px;
        align-items: center;
        width: fit-content;
        letter-spacing: .5px;
    }

.articles{
    height: 87px;
    object-fit:cover;
    width: 100%;
    background-position: center;
    margin: 0px;

}

}
/* ==============ISSUES NOT SOLVED YET=============

1. clean code DRY
2. Make underline link on current page 
3. work on mobile view
 */
