/*=======
MAIN DESIGN
===*/
body{
    margin: 0;
}
.container {
    display: flex;
}  
.conta-el {
    background-image: url(/landing-page/img/tech-pic.jpeg);
    background-position: center;
    background-size: cover;

}
.cont-el{
      background-image: linear-gradient(50deg, white, rgb(65, 55, 55), grey)
}

button {
   
    width: 210px;
    height: 45px;
    background-color:blueviolet;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bolder;
    transition: all 0.3s ease 0s;
}

button:hover, cursor{
    background-color: greenyellow
}

.order {
    display: flex;
    margin: 150px;
}

/*====SIDE 1 with background picture==*/

.base {
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 0;
   
    color: rgb(247, 246, 248);
    }
.ideal {
    font-size: 18px;
    margin: 0;
    color: #a6ebd6;
}
.sub {
    margin: 450px 100px 0 ;
    font-weight: 900;
    color: #db1111;
    font-size: 21px;
    text-align: justify;
}
.info {
    margin: 150px;
}
.bottom {
    margin: 100px;
    padding: 30px;
}

/*====SIDE 2 without background picture==*/
.subscribe {
    margin: 10px;
    font-size: 16px;
    background-color: red;

}
input {
    margin: 10px;
}

.plain-text {
    margin: 150px 50px 30px;
    font-size: 22px;
    color: rgb(1, 1, 2);
}