/*=======
MAIN DESIGN
===*/
body{
    margin: 0;
    padding: 0;
}

/* =========COMPANY NAME/ HEADING========= */
.name {
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: 900;
    margin: 0;   
    color: rgb(181, 126, 236);
    }
.below-name {
    font-size: 18px;
    margin: 0;
    color: #a6ebd6;
}

/* =======BACKGROUND DESIGN======= */
.container {
    margin: 0;
    width: 100%;
    background-image: url(/landing-page/img/tech.jpeg);
    background-position: center;
    background-size: cover;

}
/* =====MAIN MESSAGE IN BOLD===== */
.info {
    margin: 120px 0px 0 180px ;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    color: rgb(233, 155, 53);
    font-size: 28px;
}

/* =================Sign-up Button=========== */
button {
   
    width: 210px;
    height: 45px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

button:hover, cursor{
    background-color: rgb(121, 12, 223)
}
.sign-up {
    margin: 40px 0px 50px 600px;
    font-size: 21px;
    font-weight: 900;
    background-color: red;
}

/* =============Products & Services with green ticks============== */
.tick {
    width: 28px; height: auto;
    margin-left: 100px;
    margin-right: 10px;
    
}
.green-tick{
       margin-left: 50px;
}

.bullets {
    display:flex;
    font-size: 21px;
    margin-bottom: 0;
    color: rgb(235, 252, 1);
}
/* ========BOTTOM MESSAGE======== */

.sub-info {
    font-weight: 900;
   font-style: italic;
    color: #e9d0d0;
    font-size: 25px;
    text-align: center;
    
}