/*=======
MAIN DESIGN
===*/
body{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    width: 100%;
    background-image: url(/landing-page/img/tech.jpeg);
    background-position: center;
    background-size: cover;

}

button {
   
    width: 210px;
    height: 45px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

button:hover, cursor{
    background-color: rgb(121, 12, 223)
}

.base {
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;   
    color: rgb(181, 126, 236);
    }
.ideal {
    font-size: 18px;
    margin: 0;
    color: #a6ebd6;
}
.sub {
    margin: 250px 35px 0px 15px;
    font-weight: 900;
    padding-bottom: 170px;
    color: #e9d0d0;
    font-size: 21px;
    text-align: center;
}
.info {
    margin: 120px 0px 0 180px ;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    color: rgb(233, 155, 53);
    font-size: 28px;
}

.subscriber {
    margin: 10px 80px 20px 120px;
    font-size: 16px;
    background-color: red;
    align-content: flex-end;

}

.tick {
    width: 28px; height: auto;
    margin-left: 100px;
    margin-right: 10px;
    
}
.green-tick{
   
    margin-left: 50px;
}

.bullets {
    display:flex;
    font-size: 21px;
    margin-bottom: 0;
    color: rgb(235, 252, 1);
}
