/* items arranged in one box and with defined size of the box */
#carousel {
    display:inline-block;
    width: 600px;
    padding: 80px;
    height: auto;
}
/* making images display on top of each other */
.carousel-item {
    position: absolute;
   
}

/* box containing the buttons */
#carousel .carousel-actions {
    position: absolute;
    display: flex;
    justify-content:space-between;
    top: 50%;
    width: 82%;
    transform: translateY(50%);
   

}
/* giving the img size to display */
img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* displaying the buttons on the images */
#carousel-button-prev, #carousel-button-next{
    margin: 0px;
    border: 3px solid green;
    padding: 15px;
    border-spacing: 100px;
    background-color: gainsboro;
    font-size: 30px; 
   
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px;
}
#carousel-button-prev:hover, :focus,
#carousel-button-next:hover, :focus {
    color: rgb(64, 67, 233);
    background-color: red;
}